#calendar {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    border: 1px solid #000;
    padding: 10px;
}

.weekday,
.day {
    text-align: center;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    height: 40px;
    background-color: #fff;
}

.day.today {
    background-color: yellow;
}

.weekday {
    height: 30px;
    font-weight: bold;
}